@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');
*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/* variables */

h1,h2,h3{
    font-family: 'poppins', sans-serif;
}
body{
    font-family:'poppins', sans-serif ;
    font-size: 18px;
}
img{
    height: 100%;
    width: 100%;
}
a{
    text-decoration: none;
    color: black;
}


.header{
    width: 100%;
    height: 100vh;
    display: block;
    background-image:url(images/bg-hero-mobile.svg);
    background-position: center top;
    background-size: 120%;
    background-repeat: no-repeat;
    background-color: hsl(193, 100%, 96%);

   
    
}
.container{
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 30px;
    height: auto;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    text-align: center;
   
}
.nav{
      /* position: absolute;  */
   top:0;
   width: 100%;
   max-width: 1080px;
   margin: 0 auto;
   padding: 30px;
   display: flex;
   align-items: center;
   justify-content: space-between; 
} 
.logo{
    width: 120px;
}
.cta-header{
    padding: 10px 45px;
    border-radius: 50px;
    background-color: white;
    font-weight: 700;
    box-shadow: -2px 2px 20px 0px #0000001f;
}
.hero{
    width: 100%;
    height: 100%;
    display: flex ;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero-info h1{
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1.3rem;

}
.hero p{
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 50px;
}
.cta-hero{
    padding: 10px 45px;
    border-radius: 50px;
    background-color:  hsl(322, 100%, 66%);
    font-weight: 700;
    box-shadow: -2px 2px 20px 0px #0000001f;
    color: white;
    font-size: 1rem;
}
.hero-img{
    max-width: 500px;
    margin-top: 40px;
    object-fit: contain;
}

.cards{
    padding: 100px 0;
}


.card-item-1{
    padding: 50px 30px;
    box-shadow: -2px 2px 20px 0px #0000001f;
    margin-bottom: 50px;
    border-radius:10px ;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 90px;
}
.card-item{
    padding: 50px 30px;
    box-shadow: -2px 2px 20px 0px #0000001f;
    margin-bottom: 50px;
    border-radius:10px ;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
  
}
.card-info{
    margin-top: 30px;

}
.card-info h3{
    font-size: 1.3rem;
    margin-bottom: 20px;
}
.card-info p{
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: hsl(208, 11%, 55%);;
}
#cta-card{
    display: flex;
    padding: 50px 0;
    margin-bottom: -100px;
}
.card{
    width: 100%;
    padding: 30px;
    text-align: center;
    box-shadow:-2px 2px 20px 0px #00000013;
    background-color: white;
    border-radius: 10px;
}
.card h2{
    font-size: 1.3rem;
    margin-bottom: 30px;
}
.card-button{
    padding: 10px 45px;
    border-radius: 50px;
    background-color:  hsl(322, 100%, 66%);
    font-weight: 700;
    box-shadow: -2px 2px 20px 0px #0000001f;
    color: white;
    font-size: 1rem;
  
   
}
#footer{
    background-color: hsl(192, 100%, 9%);
    color: white;
   padding-left: 30px;
   padding-right: 30px;
   padding-top: 100px;
}
.footer-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.footer-info{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.footer-1{
    margin-top: 30px;
}
.footer-1 ul{
    list-style: none;

}
.footer-1 li{
    margin-top: 25px;
}
 .contact{
    display: flex;
    align-items: flex-start;
    justify-content: start;
}

.contact a{
    color: white;
}
.contact img{
    width: 19px;
    margin-top: 12px;
}
.contact p{
    font-size:0.9rem;
    margin-left: 20px;
    flex: 1;
    margin-top: 10px;
}
.footer-2 ul{ 
   list-style: none;
}
.footer-2 li{
    margin-top: 18px;
}
.footer-2 a{
    text-decoration: none;
    font-size: .9rem;
    color: white;
}

.footer-3{
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
}
.footer-copyright{
    margin-top: 20px;
    text-align: center;
    font-size: .8rem;
}
@media only screen and (min-width:768px){
    #header{
    background-image: url(images/bg-hero-desktop.svg);
    background-position: center;
    background-size: cover;
    }
   
    .hero{
        flex-direction: row;
        text-align: left;
    }
    .hero-img{
        flex: 3;
    }
    .hero-info{
        flex: 2;
        margin-right: 50px;
    }
    .hero h1{
       font-size: 1.9rem;
    }
    
    .card-item-1{
        flex-direction: row;
        padding: 50px 100px;
        justify-content: center;
        align-items: center;
        text-align: left;
    }
    .card-item{
        flex-direction: row;
        padding: 50px 100px;
        justify-content: center;
        align-items: center;
        text-align: left;      
    }
    .card-item-1:nth-child(even){
        flex-direction: row-reverse;
    }
    .card-item:nth-child(even){
        flex-direction: row-reverse;
    }
    .card-info{
        margin-left: 50px;
        margin-right: 50px;
    }
    .card-info h3{
        font-size: 1.7rem;
    }
    .card-info p{
        font-size: 1rem;
    }
    
    .card{
        padding: 50px;
    }
    .card h2{
        font-size: 2rem;
        margin-bottom: 50px;
    }
    .card-button a{
        display: inline-block;
        padding: 20px 60px;
        font-size: 1.2rem;
        width: 300px;
    }
    
    .footer-info{
        flex-direction: row;
    }
    .footer-1,.footer-2,.footer-3{
        flex: 1;
        margin-left:  50px;
    }
    .footer-1{
        flex: 2.6;
    }
    .footer-2,.footer-3{
        margin-top: 50px;
    }
    .footer-copyright{
        text-align:right ;
        margin-bottom: 20px;
    }
}
@media only screen and (min-width:1000px){
    #header{
        background-image: url(images/bg-hero-desktop.svg);
        background-position: center;
        background-size: cover;
        }
        
        .hero{
            flex-direction: row;
            text-align: left;
        }
        .hero-img{
            flex: 3;
        }
        .hero-info{
            flex: 2;
            margin-right: 50px;
        }
        .hero h1{
           font-size: 1.2rem;
        }
}